<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{active == 'new' ? 'active' : ''}}">
        <a class="nav-link" href="/">Új üzenet <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{active == 'messages' ? 'active' : ''}}">
        <a class="nav-link" href="/messages">Beérkező üzenetek</a>
      </li>
    </ul>
  </div>
</nav>